* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;

  
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header e Footer */
header, footer {
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 1.5rem;
}

header h1 {
  margin-bottom: 0.5rem;
}

footer a {
  color: #32CD32;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}

/* Menu */
main {
  max-width: 600px;
  width: 90%;
  margin: 20px auto;
  padding: 25px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  
  /* Empurra o footer para baixo */
  flex-grow: 1;
}

.menu-principal h2 {
  color: #1a6802;
  margin-bottom: 15px;
  text-align: center;
}

.menu-principal nav ul {
  list-style: none;
  padding: 0;
}

.menu-principal nav li {
  margin: 10px 0;
}

.menu-principal nav a {
  display: block;
  background-color: #1a6802;
  color: #FFF;
  padding: 12px 15px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  text-align: left;
  transition: background-color 0.2s;
}

.menu-principal nav a:hover {
  background-color: #114202;
}